@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-base-light-100: hsl(var(--bc) / 0.1);
    --color-bg-base-light-200: hsl(var(--bc) / 0.2);
    --color-bg-base-light-300: hsl(var(--bc) / 0.3);
  }
  
  .bg-base-light-100 {
    background-color: var(--color-bg-base-light-100);
  }

  .bg-base-light-200 {
    background-color: var(--color-bg-base-light-200);
  }

  .bg-base-light-300 {
    background-color: var(--color-bg-base-light-300);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .scrollbar-sm::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track,
  .scrollbar-sm::-webkit-scrollbar-track {
    background: hsl(var(--b1));
  }

  .scrollbar-sm::-webkit-scrollbar-thumb {
    background: var(--color-bg-base-light-100);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--b1));
    border-left: 8px solid hsl(var(--b1));
    border-top: 8px solid hsl(var(--b1));
    border-bottom: 8px solid hsl(var(--b1));
    border-radius: var(--rounded-badge) 0px 0px var(--rounded-badge);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-bg-base-light-100);
  }

  /* to fix not pixel-perfect button group */
  .btn-group:not(.btn-group-vertical) > .btn:not(:first-of-type) {
    margin-left: 0px;
  }
}
